
body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
}

.container {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
}
h1, h2, h3 {
	font-weight: 400;
}
ol {
	padding-left: 30px;
}
li {
	padding: 2px;
}
li ol {
	margin: 15px 0;
}

.title {
	text-align: center;
	font-size: 18px;
}

@media (max-width: 480px) {
	body {
		width: 95%;
		font-size: 13px;
	}

	ol {
		padding-left: 18px;
	}
}