/*
	Color Theme for Game Tek Live
*/

#header {
	background: #222 !important;
}

#nav {
	background: #222 !important;
}

#content .featured-post:hover {
	border-color: #222 !important;
}

#content .normal-post:hover {
	border-color: #222 !important;
}

.widget-container ul li span, .widget .widget-wrap ul li span {
	color: #222 !important;
}

.widget-container ul li a:hover, .widget .widget-wrap ul li a:hover {
	border-bottom-color: #222 !important;
}

.category-section.second {
	border-top-color: #222 !important;
}

.category-section.third, .category-section.fourth, .category-section.fifth, .category-section.first, #content .content-left, .widget-container, .widget .widget-wrap, .huge-top-stories {
	border-top-color: #222 !important;
}

.huge-top-stories .story-list a:hover, .huge-top-stories .story-list a.active {
	background: #222 !important;
}

h1,h2,h3,h4,h5,h1 a, h2 a, h3 a, h4 a, h5 a {
  color: #333;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  color: red !important;
}

#header .mobile-menu-toggle {
  color: red !important;
}

#content h4 {
  background: red !important;
}

.navigation .pagination-previous a:hover, .navigation .pagination-next a:hover {
  background: red !important;
}

.fixed-mobile-nav .nav-item:hover {
  color: red !important;
}

.category-section.second > .normal-post:hover {
  border-bottom-color: red !important;
}

.genesis-nav-menu.menu-primary a:hover {
  color: red !important;
}
.genesis-nav-menu.menu-primary .current-menu-item a {
  border-bottom: 4px solid red !important;
}

.huge-top-stories .story-list a:hover .arrow, .huge-top-stories .story-list a.active .arrow {
  border-left-color: red !important;
}