@media only screen and ( min-width: 961px ) and ( max-width: 1183px ){

#sharebox {display:none} 
}

 
@media only screen and ( max-width: 960px ) {
img, video, object { max-width: 100%;}
#sharebox {display:none} 
.footer-menu, #bottomfooter{width:auto}
}



@media only screen and ( min-width: 768px ) and ( max-width: 960px ) {

.trending-holder, .head-wrapper, #top-menu .menu, .featured-wrapper, #content-wrapper, .footer2-area, .footer3-area{width: 748px;}

/*Header*/
#trending-menu .menu {width: 600px;}
.home-navigate .navigate-dropdown {right: -607px;}
#header .logo {float: none;}
.logo-holder {float: none;text-align: center;}
.social-wrapper {float: none;width: auto;}
.top-slider {float: none;margin: 0 auto 10px;}
.search-form-default {float: left; }
#menu-22 ul li a, #menu-22 ul li div {padding-left: 2px;padding-right: 5px;font-size: 14px;}

/*Content*/
.featured-wrapper .big {float: none;}
.featured-post-big {margin: 0 auto;border-bottom: 0px;}
.featured-wrapper .small {float: none;margin: 0 auto;width: 543px;}
.small-post1, .small-post3 {border-left-width: 7px}
#content{float: none;padding-right: 0px;width: auto;}

.big-image-left .content-area, .big-image-right .content-area { width: 345px;} 
.small-image-left .content-area, .small-image-right .content-area { width: 525px;} 

/*Sidebar*/
#sidebar {float: none;margin: 0 auto; width: 630px;}
#sidebar .widget{ float: left;width: 300px;margin-right: 15px;}

/*Footer*/
.site-footer {width: 555px;}
#footerwrapper1 { margin: 0 auto; width: 511px;display: block;}
#footer .box-hold .box{display: inline-block;float: none;}

/*Single*/
.single-right { width: 630px;}
#comments-content {width: auto;}

/*Tags-Archives*/
.bottom-recentpost-wrapper-cat {width: auto;}
.post-content-holder {width: 520px;}

}


@media only screen and ( max-width: 767px ) { 
	.responsivemenu{	
		display: block;
		margin: 0 auto;
		width: 130px;
		padding-top: 9px;
		display: block;
	}
.select-menu {display:inline-block; width: 400px;}
#top-menu .menu {display: none;}
.trending-holder, .head-wrapper, #top-menu .menu, .featured-wrapper, #content-wrapper, .footer2-area, .footer3-area { width: 460px; }

/*Header*/
.trending-holder{ font-size: 11px;} 
#trending-menu .menu {width: 300px;}
.home-navigate .navigate-dropdown {right: -319px;}
#header .logo {float: none;}
.logo-holder {float: none;text-align: center;}
.social-wrapper {float: none;width: auto;}
.top-slider {float: none;margin: 0 auto;width: 435px;}
.search-form-default {float: none; margin: 10px auto 0;}
.infiniteCarousel .wrapper { width: 440px;}
.infiniteCarousel .box-image {display: none;}
.infiniteCarousel ul li {width: 150px;}
.slider_arrows {  left: -6px;}
.social-holder {float: none; margin: 10px auto; width: 380px;}


/*Content*/
.featured-wrapper .big {float: none;}
.featured-post-big { margin: 0 auto;border-bottom: 0px;width: auto; height: 352px;}
.featured-wrapper .small {float: none;margin: 0 auto; width: 460px;}
.small-post1, .small-post3 {border-left-width: 7px}
.small-post1, .small-post3 {border-right-width: 4px}
#content{float: none;padding-right: 0px;width: auto;}
.featured-post-small {height: 228px;width: 220px;}
.home-gallery img{ height: auto; width: 75px;}
img, video, object {height: auto;}
.homepost-heading h2{font-size: 30px;}
.meta-info-right {display: none;}
.metainfoleft {float: none;}
.home-category {display: inline-block;margin-bottom: 5px;}
.home-category, .info {float: none;}
.tags-readmore-holder .tags {width: auto;max-width: 300px;}
.big-title h2 a {font-size: 26px;}


.big-image-left .content-image, .big-image-right .content-image {float: none;text-align: center;}  
.big-image-left .content-area, .big-image-right .content-area { width: auto;float: none;} 
.small-image-left .content-image {width: 100px;margin-right: 10px;}
.small-image-left .content-area, .small-image-right .content-area{float: none;width: auto;}
.pagination { font-size: 22px;}


/*Sidebar*/
#sidebar {float: none;margin: 0 auto;}
#sidebar .widget{ float: left;width: 300px;margin-right: 15px;}

/*Footer*/
.site-footer {width: 460px;}
#footerwrapper1{ margin: 0 auto; width: 234px;display: block;}
#footer .box-hold .box{display: inline-block;float: none;}

/*Single*/
.single-right { width: 340px;} 
#respond {width: auto !important;}
#respond-content{width: auto !important;}
.single-entry-title {font-size: 30px;line-height: 30px;}
.single-pagi {float: none;margin-top: 5px;}
#comments-content{width: auto;}

/*Tags-Archives*/
.bottom-recentpost-wrapper-cat {width: auto;}
.post-content-holder {width: 235px;}
.alignleft {width: 125px;}
.author-info {width: 300px;}
}
 
 




@media only screen and ( max-width: 479px ) { 
.select-menu {display:inline-block; width: 240px; } 
#top-menu .menu {display: none;}
.trending-holder, .head-wrapper, #top-menu .menu, .featured-wrapper, #content-wrapper, .footer2-area, .footer3-area{ width: 300px;}
.top-slider {display: none;}

.trending-wrapper {height: auto;}
.trending { float: none;height: auto;}
#trending-menu .menu {width: 240px;}
#trending-menu ul li 	{ margin-right: 7px;}
.home-navigate { display: none;}
.social-holder {width: 300px;}

.big-title h2 a{ font-size: 26px;}
.featured-wrapper .small {width: auto;}
.featured-post-small { width: 140px;height: 145px;}
.small-title h3 a {font-size: 12px;line-height: 12px;}
.home-gallery, .home-gallery-button {display: none;}
.video object { height: 220px !important;}
.homepost-heading h2, .single-entry-title {font-size: 24px;}
.content-area {font-size: 13px;line-height: 21px;}

/*Single*/
#comment {width: 260px;}
.single-left {display: none;}
.single-right {float: none;width: auto;}

.site-footer {float: none;width: 300px; }
.footer-logo {float: none;text-align: center;margin-top: 10px;}

.post-content-holder {float: none;width: auto;}
.author-info {margin-top: 10px;	}
}